---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);


@font-face {
    font-family: 'League Spartan';
    src: url('{{ base }}/assets/fonts/leaguespartan-bold.eot');
    src: url('{{ base }}/assets/fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('{{ base }}/assets/fonts/leaguespartan-bold.woff2') format('woff2'),
         url('{{ base }}/assets/fonts/leaguespartan-bold.woff') format('woff'),
         url('{{ base }}/assets/fonts/leaguespartan-bold.ttf') format('truetype'),
         url('{{ base }}/assets/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;

}


// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   1rem;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     1rem;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$container: 	   960px;

//Fonts

$roboto: 'Roboto';
$league-spartan: 'League Spartan';
$montserrat: 'Montserrat';
$roboto-mono: 'Roboto Mono', monospace;



//Colors
$light-gray: #F2F2F2;
$blue: #197AEC;
$red: #D0021B;
$yellow: #E9DD40;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "skeleton",
        "layout",
        "syntax-highlighting",
        "projects"
;
